<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" type="image/png" href="/images/logo.png"/>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <section class="container landing-info">
        <section class="centering">
            <header>
                <a href="/home">
                    <img class="logo" src="/images/logo.png" alt="AstaLaVista">
                </a>
                <a href="/home">
                    <h2>
                        Asta<span class="highlight">La</span>Vista
                    </h2>
                </a>
            </header>
            <div class="container centering">
                <h1>"Che l'offerta sia con te."</h1>
                <aside class="center-aligned">
                    AstaLaVista è la piattaforma dove ogni oggetto trova il suo acquirente… al miglior prezzo.<br>
                    Scopri aste in tempo reale, rilancia al momento giusto e aggiudicati occasioni uniche.<br>
                    Che tu voglia vendere o comprare, qui il tempo è tutto. Preparati a fare offerte che non potrai rifiutare.
                </aside>
            </div>
        </section>
        <section class="container centering">
            <header>

            </header>
            <div class="bg-card parallax collectables"></div>
        </section>
    </section>

    <section class="container sell theme-color">
        <section class="container centering"> 
            <div class="bg-card parallax stamps"></div>
        </section>
        <section class="centering">
            <p class="text-white text-xxl text-shadow">VENDI I TUOI ARTICOLI!</p>
            <div class="feature right white">
                <div class="feature-image baseball"></div>
                <div class="feature-content">
                    <p>
                        Vendi
                    </p>
                    <button class="feature-button" onclick="window.location.href='/sell'">Vendi</button>
                </div>
            </div>
        </section>
    </section>

    <section class="container buy">
        <section>

        </section>
        <section class="container centering"> 
            <div class="bg-card parallax vinyl"></div>
        </section>
    </section>

    <section>
        <footer></footer>
    </section>

    <script src="/js/header.js"></script>
</body>
</html>